/*  your css code here. If applicable */
#buttons{
	background-color:violet;
	display:flex;
	justify-content:center;
	align-items:center;
	gap:4px;
}
button{
	color:white;
	background-color:blueviolet;
	font-size:18px;
}